/* Botón con efecto hover */
.btn-warning:hover {
  background-color: #ffcc00;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Imagen con efecto hover */
img {
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.02);
}

/* Estilos personalizados para la barra de navegación */
.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00 !important;
}

/* Estilos para el pie de página */
footer a:hover {
  color: #ffcc00;
  transition: color 0.3s ease;
}
